/**
 * Based on http://dbwebb.se/coachen/en-navbar-med-drop-down-meny-i-ren-html-och-css
 * Changed to only style li-items instead of a.
 */

.navbar {
    border-bottom: solid 1px black;
}
 
.navbar ul {
    list-style: none; 
    margin: 0; 
    padding: 0;
}
 
.navbar li {
    display: inline-block;
    border-top: 4px solid transparent;
    position: relative; 
}
 
.navbar a {
    display: block;
    padding: 2em;
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
    font-size: 1.2em;
}

.navbar li:hover {
    color: #A4A4A4;
} 
 
.navbar li.selected-parent, 
.navbar li.selected {
    color: #A4A4A4;
    border-bottom: solid 2px red;
}

.navbar ul ul {
    background-color: #fff; 
    padding: 2px 6px 2px 0; 
    position: absolute; 
    left: -9999px; 
    z-index: 2;
    background-color: #eee;
}
 
.navbar li li {
    width: 100%;
    border-top: none;  
    border-left: 4px solid transparent;  
    color: #000000;
}

.navbar li:hover ul {
    left: 0;
}
 
.navbar li li:hover {
    
}

.navbar li li.selected {
    
}
